header{background: #022e4e;}
main{background: #b5dffd;}
footer{background: #21a0fa;}
footer.navigation{background-color: #b5dffd;}
body{background-color: #b5dffd;}
a:link {color: #1e4bff;}
a:visited{color: #3800bb;}
a:hover{color: #1ebcff; text-decoration: none;}
a:active{text-decoration: none; color: #fffbea;}
