header{background-color: #297c4d; color: #9edfba;}
main{background-color: #ceefdc; text-align: center; color: #4e2202;}
footer{background-color: #9ddeb9;}
footer.navigation{background-color: #ceefdc;}
body{background-color: #ceefdc;}
a:link {color: #9edfba;}
a:visited{color: #f0faf5;}
a:hover{color: #800000; text-decoration: none;}
a:active{text-decoration: none; color: #fffbea; background-color: #7c2958;}
a.btn:link{color: #e50000;}
a.btn:visited{color: #eb0000;}
a.btn:hover{color: #17452b; text-decoration: none;}
a.btn:active{color: #c95a9b; text-decoration: none; font-size: xx-large; background-color: #ceefdc;}
